@charset "utf-8";
/* CSS Document */

.row{
	margin-left: -7.5px;
	margin-right: -7.5px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
	padding-right: 7.5px;
	padding-left: 7.5px;
}
.btn{
	font-size: 14px;
}
.btn-outline-secondary{
	color: #909090 !important;
	border-color: #ccc;
}
/*
.form-control{
	border: 1px solid #eff3f6;
}
*/
.btn-light{
	background-color: #eff3f6;
}
.bg-light{
	background-color: #ced4da !important;
}
.table-borderless tbody+tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
    white-space: nowrap;
}
::-webkit-scrollbar {
    width: 5px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background: #68b42d; 
}
::-webkit-scrollbar-thumb:hover {
	background: #035ac8; 
}
.panel {
    border-bottom: 1px solid #8f8f8f;
    padding-bottom: 35px;
    margin-bottom: 35px;
}
.panel-body{
	font-size: 16px;
}
input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
	color: #9f9f9e;
}
input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  	font-size: 14px;
	color: #9f9f9e;
}
input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  	font-size: 14px;
	color: #9f9f9e;
}
input[type="text"]:-moz-placeholder { /* Firefox 18- */
  	font-size: 14px;
	color: #9f9f9e;
}
.ticket-select {
	color: #9f9f9e;
	font-size: 14px;
}
.ticket-new .form-control{
	height: 45px;
}
.ticket-new textarea.form-control{
	height: auto;
	transition: border 0.3s ease-in-out;
}
.custom-file-label::after {
    height: 43px;
    line-height: 2.3;
}
.custom-file-label{
    height: 45px;
    line-height: 2.3;
	transition: border 0.3s ease-in-out;
}
.form-control:focus {
    box-shadow: none;
    border: 1px solid #68b42d;
    outline: 0px;
}
.custom-file-input:focus~.custom-file-label {
    border: 1px solid #68b42d;
    box-shadow: none;
}
.custom-select{
	font-size: 14px;
	color: #686868;
	height: 45px;
}

.notification .modal-header{
	border-bottom: none;
}
.notification .modal-body{
	padding-top: 0;
	padding-bottom: 0;
}
.notification .modal-footer{
	border-top: none;
}

@media (max-width: 1200px){
	.job-list-table table{
		width: 1200px !important;
	}
}
@media (max-width: 900px){
	.job-list-table table{
		width: 1100px !important;
	}
}