@charset "utf-8";
/* CSS Document */

.user-filter .form-control{
	border-radius: 0;
/*
	border: none;
	border-bottom: 1px solid #ced4da;
*/
}
.filter-select{
	width: 101px;
}
.filter-select select{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background-color: #f5f5f5;
}
.filter-select select option{
	background-color: #ffffff;
}
.filter-input{
	width: calc(100% - 139px);
    margin-left: -1px;
}
.filter-btn{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 38px;
}
.filter-instruction{
	padding-left: 13px;
}
.custom-select:focus {
    outline: 0;
    box-shadow: none;
	border-color: #ced4da;
}
.user-name{
	line-height: 18px;
}
.provider-list .media{
	position: relative;
}
.provider-list ul li{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ced4da;
}
.provider-list ul li.active::before{
	content: "";
	width: 5px;
	height: 40px;
	background-color: #68B42D;
	display: inline-block;
    position: absolute;
    left: 6px;
}
.provider-list ul li:last-child{
	border-bottom: 0;
	padding-bottom: 0;
}
.del-user{
	position: absolute;
	top: 0;
	right: 0;
}
.more-info-wrap{
	position: relative;
}
.more-info-wrap ul{
	position: absolute;
	right: 0;
	border: 1px solid #ced4da !important;
	z-index: 1;
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.03), 2px 2px 4px 0 rgba(0, 0, 0, 0.06);
}
.more-info-wrap ul li{
	background-color: white;
	border-bottom: 1px solid #ced4da !important;
	padding: 0 !important;
}
.more-info-wrap ul li:last-child{
	border-bottom: none !important;
}
.more-info-wrap ul li a{
	padding: 10px 15px !important;
	display: inline-block;
	color: #686868;
	width: 100%;
}
.more-info-wrap ul li a:hover{
	background-color: #f5f5f5;
}
.more-info{
	padding-left: 3px;
	padding-right: 3px;
}
.info-list{
	display: none;
}
.loc-map{
	background: url(../img/map.jpg) no-repeat center center;
	background-size: cover;
}
