@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: sk-reg;
	src: url(../fonts/Sk-Modernist-Regular_0.otf);
}
@font-face{
	font-family: sk-bold;
	src: url(../fonts/Sk-Modernist-Bold.otf);
}

body{
	font-family: sk-reg;
	letter-spacing: 0.5px;
	font-size: 14px;
	color: #686868;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
.label{
	border: 1px solid #eee;
	padding: 5px;
	background-color: #f5f5f5;
}
.border-btm{
	border-bottom: 2px solid #eff3f6;
}
.no-scroll{
	overflow: hidden !important;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}
.font-bold{
	font-family: sk-bold;
}
.font-black{
	color: #333333;
}
/*
.font-lyt-grey{
	color: #9f9f9e;
}
*/
.font-grey{
	color: #9f9f9e;
}
.font-24{
	font-size: 24px;
}
.font-18{
	font-size: 18px;
}
.font-16{
	font-size: 16px;
}
.font-14{
	font-size: 14px;
}
.font-display{
	font-size: 35px;
	line-height: 35px;
}
.font-12{
	font-size: 12px;
}
.font-default-color{
	color: #686868;
}
.text-sec{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #949494;
}
.txt-small{
	font-size: 14px;
}
.table-hover tbody tr:hover {
    background-color: #EFF3F6;
}
a:hover{
	text-decoration: none;
}
.margin-btm{
	margin-bottom: 15px;
}
.margin-top{
	margin-top: 15px;
}
.above-fold-btn{
	margin-top: 20px;
}
.tab-bg{
	background-color: #eff3f6;
	border-radius: 0.25rem;
}
#app-container{
	position: relative;
}
#header-panel{
	position: absolute;
	z-index: 3;
	width: 100%;
}
.header-wrap{
	position: relative;
}
.app-logo{
	position: absolute;
	background-color: #1a1a1a;
	height: 65px;
	width: 250px;
	padding-left: 20px;
	padding-top: 19px;
}
.app-nav{
	position: absolute;
	background-color: #ffffff;
	width: calc(100% - 250px);
	height: 65px;
	right: 0;
}
.app-nav .navbar{
	height: 65px;
}
.app-nav ul li{
	padding-left: 30px;
}
.app-nav ul li a{
	color: #adb5bd;
}
.app-nav ul li:last-child a{
	height: 45px;
	width: 45px;
	display: inline-block;
}
.app-nav ul li:last-child a img{
/*	border: 1px solid #343a40;*/
}
.sidebar-panel{
	position: absolute;
	background-color: #1a1a1a;
	height: calc(100vh - 65px);
	left: 0;
	top: 65px;
	padding-top: 15px;
	width: 250px;
	z-index: 2;
	transition: all 0.4s ease-in-out;
}
.sidebar-panel ul li{
	color: #909090;
	font-size: 14px;
}
.sidebar-panel ul li:first-child{
	padding-bottom: 10px;
	padding-top: 20px;
	padding-left: 20px;
}
.sidebar-panel ul li a{
	color: #cccccc;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	padding-left: 20px;
	transition: all 0.3s ease-in-out;
}
.sidebar-panel ul li a:hover{
	color: #ffffff;
	background-color: #035ac8;
}
.sidebar-drawer{
	display: none;
}
.menu-list li.active a{
	background-color: #2c2c2c;
	color: #ffffff;
}
.mainbody{
	position: absolute;
	background-color: #eff3f6;
	width: calc(100% - 250px);
	height: calc(100vh - 65px);
	right: 0;
	top: 65px;
	padding-top: 15px;
	padding-bottom: 15px;
	transition: right 0.4s ease-in-out;
	overflow: auto;
}
.mainbody-slide{
	right: -200px;
}
.page-info{
	padding-top: 15px;
	padding-bottom: 15px;
}
.burger{
	font-size: 0;
	display: none;
}
.header-menu{
	display: inline-block;
}
.d-mobile{
	display: none;
}
@media(max-width: 1024px){
	.sidebar-panel, .app-logo{
		width: 200px;
	}
	.mainbody, .app-nav{
		width: calc(100% - 200px);
	}
}
@media(max-width: 767px){
	.sidebar-panel{
		left: -200px;
		width: 200px;
		z-index: 2;
		transition: left 0.4s ease-in-out;
	}
	.sidebar-slide{
		left: 0px;
	}
	.mainbody{
		z-index: 1;
		width: 100%;
	}
	.app-nav{
		background-color: #1a1a1a;
	}
	.sidebar-drawer{
		padding: 10px 5px;
		background-color: #1a1a1a;
		position: fixed;
		left: 0;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		transition: left 0.4s ease-in-out;
		z-index: 2;
		display: block;
	}
	.drawer-slide{
		left: 200px;
	}
}
.d-mobile{
	display: none;
}
.footer{
	font-size: 14px;
	padding-left: 20px;
	position: absolute;
	bottom: 30px;
}
@media(max-width: 767px){
	.app-nav ul li{
		padding-left: 20px;
	}
	.md-margin{
		margin-top: 15px;
	}
}
@media(max-width: 572px){
	.app-logo{
		width: 170px;
	}
	.app-nav{
		width: calc(100% - 170px);
	}
}
@media(max-width: 542px){
	.app-logo{
		width: 170px;
	}
	.app-nav{
		width: calc(100% - 170px);
	}
	.app-nav .btn{
		font-size: 12px;
	}
}
@media(max-width: 529px){
	.app-logo{
		width: 300px;
	}
	.app-nav{
		width: calc(100% - 300px);
	}
	.app-nav .btn{
		font-size: 13px;
	}
	.burger{
		display: inline-block;
	}
	.header-menu{
		position: fixed;
		top: 65px;
		right: -151.36px;
		background-color: white;
		padding: 10px 35px 10px 18px;
		box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.04), 8px 6px 10px 0 rgba(0, 0, 0, 0.08);
		transition: right 0.4s ease-in-out;
	}
	.header-menu-slide{
		right: 15px;
	}
	.app-nav ul li{
		padding-left: 0px;
		margin-right: 0 !important;
		display: block;
		padding-bottom: 20px;
	}
	.app-nav ul li:last-child{
		padding-bottom: 0px;
	}
	.d-desktop{
		display: none;
	}
	.d-mobile{
		display: block;
	}
	.app-nav ul li:last-child a {
		height: auto;
		width: auto;
	}
}
@media(max-width: 510px){
	.app-logo{
		width: 250px;
	}
	.app-nav{
		width: calc(100% - 250px);
	}
}
@media(max-width: 460px){
	.app-logo{
		width: 200px;
	}
	.app-nav{
		width: calc(100% - 200px);
	}
}
@media(max-width: 390px){
	.app-logo{
		width: 150px;
	}
	.app-nav{
		width: calc(100% - 150px);
	}
	.app-nav .btn{
		font-size: 12px;
	}
}
@media(max-width: 340px){
	.app-logo{
		width: 140px;
	}
	.app-nav{
		width: calc(100% - 140px);
	}
	.app-nav .btn{
		font-size: 11px;
	}
}
@media(max-width: 320px){
	.app-logo{
		width: 135px;
	}
	.app-nav{
		width: calc(100% - 135px);
	}
}